@import '../../../../assets/scss/variable';

#friends {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background-color: #fff;
    margin-bottom: 1rem;

    @media (min-width: 800px) {
        flex-grow: 1;
        margin-right: 2rem;
        max-width: 250px;
        min-width: 250px;
        margin-bottom: 0;
    }

    #title {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: flex-end;

        button {
            border: none;
            background-color: $bg-main;
            color: white;
            width: 60px;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 600;
        }
    }

    hr {
        border-top: 1px solid #cfcfcf;
        width: 100%;
        margin-bottom: 0;
    }

    #friends-box {
        height: calc(100vh - 100px);
        overflow-y: auto;
        padding: 10px;

        .friend {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: #f6f6f6;
            }

            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
                background-color: #ccc;
            }

            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .name {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                .status {
                    font-size: 14px;
                    color: #999;
                }
            }
        }
    }
}
