@import '../../../../assets/scss/variable';

#friends {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background-color: #fff;
    margin-bottom: 1rem;

    @media (min-width: 800px) {
        flex-grow: 1;
        margin-right: 2rem;
        max-width: 250px;
        min-width: 250px;
        margin-bottom: 0;
    }

    #title {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: flex-end;

        button {
            border: none;
            background-color: $bg-main;
            color: white;
            width: 60px;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 600;
        }
    }

    hr {
        border-top: 1px solid #cfcfcf;
        width: 100%;
        margin-bottom: 0;
    }

    #friends-box {
        .friend-list {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            cursor: pointer;
            flex-direction: column;
            min-width: fit-content;

            @media (min-width: 800px) {
                flex-direction: row;
            }

            & > div {
                display: flex;

                img {
                    display: flex;
                    align-self: center;
                    margin-right: 5px;
                }

                .friend-info {
                    display: flex;
                    align-self: center;
                    flex-direction: column;
                }
            }

            .friend-status {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
