@import '../../assets/scss/variables';

#chat-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $bg-gray;
    height: 100%;
    margin: 0 !important;

    #chat-wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        padding: 2rem 1rem;

        @media (min-width: 800px) {
            flex-direction: row;
        }

        #settings {
            display: flex;
            justify-content: flex-end;
        }

        .icon-container {
            display: flex;
            align-items: center;
        }

        .icon-container > div {
            margin-right: 1rem;
        }
    }

    #chat-wrap > div {
        width: 100%;
        display: flex;

        #messenger-wrap {
            width: 100%;
            background-color: white;
            justify-content: space-between;
        }

        #input-container {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            background-color: rgb(255, 197, 250);

            #message-input {
                display: flex;
                align-items: center;
                width: 100%;
                border-radius: 5px;
            }
            input {
                height: 50px;
                width: 100%;
                box-sizing: border-box;
                margin-right: 0.5rem;
                border: 5px solid rgb(255, 197, 250);
                border-radius: 15px;
            }
            .fa-icon {
                font-size: 1.5rem;
            }
            .show-emoji {
                position: absolute;
                bottom: 50px;
                right: 0;
                z-index: 1;
            }
        }
    }
}
